<h1>User Stories</h1>

<uib-accordion close-others=true>
    <section uib-accordion-group class="panel-default" ng-repeat="story in $ctrl.stories">
        <uib-accordion-heading>
            <label ng-click="$ctrl.tasks(story); $ctrl.taskDescription = ''">{{story.story}}</label>
        </uib-accordion-heading>
        Story Point: {{story.storyPoint}}
        <input type="button" name="Edit" value="Edit" ng-if="!story.editting" ng-click="$ctrl.update(story)">
        <section ng-repeat="task in $ctrl.taskList">
            {{task.description}}
        </section>
        <input type="text" name="description" placeholder="Task Description" ng-model="$ctrl.taskDescription">
        <label class="btn btn-success" ng-click="$ctrl.createTask(story); $ctrl.taskDescription = ''">+</label>
    </section>
</uib-accordion>

<label class="btn btn-success" ng-click = "$ctrl.create()">+</label>