<style>
	form input {
		display: block;
	}

	#profile {
		float: right;
	}
	#profile > * {
		padding: 0;
		margin: 0;
	}

	.error {
		color: red;
	}
	.menu
{
background-color: #00547E;
border-bottom: 4px solid #04A3ED;
width:100%;
height: auto;
padding: 0 10px;
position: fixed;
margin: 0px;
z-index: 1;
opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
background-color : #04A3ED;
color: white;
font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: white;
padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
background-color: #04A3ED;
}

.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 30px;
}
.navbar-header > a:hover
{
text-decoration: none;
color: #04A3ED;
}
</style>

<div class= "menu"id="profile">
	<div class="container-fluid">
		<div class="navbar-header">
			<h6>SCRUMPLE</h6>
		</div>
		<div>
			<ul class= "nav navbar-nav navbar-right">
				<li><span class="glyphicon glyphicon-user"></span>{{$ctrl.resources.user().displayName}}</li>
				<li><span class="glyphicon glyphicon-user"></span>{{$ctrl.resources.user().role}}</li>
				<li><span class="glyphicon glyphicon-log-in"></span><input type="button" value="Log Out" ng-click="$ctrl.logout()" ng-if="$ctrl.resources.auth()"></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-md-6 col-md-offset-3">
		<form name="login" ng-submit="$ctrl.login()" ng-if="!$ctrl.resources.auth()" role="form">
			<fieldset>
				<br><br>
				<hr>
				<h4>LOGIN </h4>
				<hr>
				<small class="text-muted">Connect Scrumple with your favorite social network</small>
					<br><br>
					<p>
						<a class="btn btn-primary social-login-btn social-facebook" ng-disabled="true" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
						<a class="btn btn-primary social-login-btn social-twitter" ng-disabled="true" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
						<a class="btn btn-primary social-login-btn social-linkedin" ng-disabled="true" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
						<a class="btn btn-primary social-login-btn social-google" ng-disabled="true" href="/auth/google"><i class="fa fa-google-plus"></i></a>
					</p>

					<small class="text-muted">Or Login with your Scrumple account</small>
					<br><br>
			<div class="form-group" ng-class="{ 'has-error': form.handle.$dirty && form.handle.$error.required }">
            	<label for="handle">Please Enter your Email Address</label>
				<input type="text" name="handle" placeholder=" Email adderss" class="form-control" autofocus required ng-model="$ctrl.handle">
				<span ng-show="form.handle.$dirty && form.handle.$error.required" class="help-block">Email is required</span>
        	</div>
			<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            	<label for="password">Please Enter your Password</label>
				<input type="password" name="password" placeholder="Password" class="form-control" required ng-model="$ctrl.password">
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
			<div class="form-actions">
				<button type="submit" value="Log In" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
				<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>	
			<hr>
				<p class="error" ng-if="$ctrl.failed">Incorrect email or password</p>
			</fieldset>
		</form>
</div>
