@CHARSET "UTF-8";

header {
	text-align: center;
}

.round {
	border-radius: 32px;
	padding: 1px 10px;
}

.entry {
	background-color: lime;
	margin: 0px 0px 5px 10px;
}

#projectsBox {
	background-color: cyan;
	float: left;
}

#usersBox {
	background-color: orange;
	float: left;
	display: none;
}

#rawSection {
	background-color: silver;
	position: fixed;
	top: 0;
	right: 0;
}