<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>HOME</title>
<link rel="stylesheet" href="../css/create.css" />
</head>

<body style="background: white">
	<div id="mywrapper">
		<div id="mycreate">
			<div class="myheader">
				<a href="../view/create.html"><div class="logo">ScrumPLE</div></a>
			</div>

			<div class="mycontent">

				<div class="item">
					<div class="stitle">Project Name</div>
					<div class="input">
						<input type="text" placeholder="Project Name">
					</div>
				</div>

				<div class="item">
					<div class="stitle">Description</div>
					<div class="input">
						<textarea placeholder="Description"></textarea>
					</div>
				</div>

				<div class="item">
					<div class="stitle">Email</div>
					<div class="input">
						<input type="text" placeholder="Email">
					</div>
				</div>

				<div class="item">
					<div class="stitle">Password</div>
					<div class="input">
						<input type="text" placeholder="Password">
					</div>
				</div>

				<div class="item center">
					<button>Create Team</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>