<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>HOME</title>
<link rel="stylesheet" href="../css/main.css" />
</head>

<div id="chat_frame">

	<div class="first">Chat <div class="close" onclick="document.getElementById('chat_frame').style.display='none';">-</div></div>

	<div class="sec">
		Member list
	</div>

	<ul>
		<li>jack1111</li>
		<li>phil2222</li>
		<li>angi3333</li>
		<li>huoo4444</li>
		<li>lile5555</li>
		<li>lile5555</li>
		<li>lile5555</li>
		<li>lile5555</li>
		<li>lile5555</li>
		<li>lile5555</li>
		<li>lile5555</li>
		<li>lile5555</li>
	</ul>
</div>

<div id="chat_button" onclick="document.getElementById('chat_frame').style.display='block';">
	Chat
</div>

<body style="background: white">
	<div id="mywrapper">
		<div id="mymain">
			<div class="myheader">
				<a href="../view/main.html"><div class="logo">ScrumPLE</div></a> <input
					type="text" placeholder="Search">
				<button class="signbutton"
					onclick="document.getElementById('mypop').style.display='block';">Sign
					out</button>
			</div>

			<div class="mycontent">
				

				<div class="table">
					<table>
						<tr>
							<th>Story</th>
							<th>To do</th>
							<th>In progress</th>
							<th>Testing</th>
							<th>Done</th>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>

				<div style="clear: both"></div>
			</div>
		</div>
	</div>
</body>
</html>