	<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>HOME</title>
<link rel="stylesheet" href="../css/create.css" />
<script src="../lib/rest.js"></script>
<script src="./create.js"></script>
<style type="text/css">
#mycreate .mycontent input.checkbox {
	width: auto;
	height: auto;
}
</style>
</head>

<body style="background: white">
	<div id="mywrapper">
		<div id="mycreate">
			<div class="myheader">
				<a href="../view/create.html"><div class="logo">ScrumPLE</div></a>
			</div>

			<form id="createForm">
				<div class="mycontent">

					<div class="item">
						<div class="stitle">Project Name</div>
						<div class="input">
							<input class="need_input" type="text" name="name" placeholder="Project Name">
						</div>
					</div>

					<div class="item">
						<div class="stitle">Description</div>
						<div class="input">
							<textarea class="need_input" name="description" placeholder="Description"></textarea>
						</div>
					</div>

					<div class="item">
						<div class="stitle">Visible <input class="checkbox need_input" name="visible" value="true" checked="" type="checkbox"></div>
					</div>

					<div class="item">
						<div class="stitle">Email</div>
						<div class="input">
							<input class="need_input" type="text" placeholder="Owner Email" name="handle">
						</div>
					</div>

					<div class="item">
						<div class="stitle">Password</div>
						<div class="input">
							<input class="need_input" type="password" placeholder="Project Password" name="password">
						</div>
					</div>
					
					<div class="item">
						<div class="stitle">DisplayName</div>
						<div class="input">
							<input class="need_input" type="text" placeholder="DisplayName" name="displayName">
						</div>
					</div>

					<div class="item">
						<div class="stitle">Role</div>
						<div class="input">
							<input class="need_input" type="text" placeholder="Role" name="role">
						</div>
					</div>

					

					<div class="item center">
						<button type="submit">Create</button>
						<button type="reset">Reset</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>