	   
<div class="col-md-6 col-md-offset-3">
    <h2>Get Started on some Exciting work Using the Scrum Framework</h2>  
	<hr>
	   <form name ="project-create" ng-submit="$ctrl.addProject(projectName, description, visible, ownerName, password)" role="form">
		   <div class="form-group" ng-class="{ 'has-error': form.projectName.$dirty && form.projectName.$error.required }">
				<label for="ProjectName">Project Name</label>
				<input type="text" name="projectName" class="form-control" placeholder="Project Name" ng-model="$ctrl.projectName" required/>
				<span ng-show="form.projectName.$dirty && form.projectName.$error.required" class="help-block">Project Name is Required</span>
		   </div><hr>
		   <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
			    <label for="username">Last name</label>
				<input type="text" name="description" class="form-control" placeholder="Project Description" ng-model="$ctrl.description" required>
				<span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Project Description is required</span>
		   </div><hr>
		   <div class="form-group">
				<label> <input type="checkbox" name="visible" placeholder="visible" ng-model="$ctrl.visible">visible</label>	
		   </div><hr>
		   <div class="form-group" ng-class="{ 'has-error': form.ownerName.$dirty && form.ownerName.$error.required }">
            	<label for="ownerName">Username</label>
				<input type="text" name="ownerName" placeholder="username" class="form-control" ng-model="$ctrl.handle" required>
				<span ng-show="form.ownerName.$dirty && form.ownerName.$error.required" class="help-block">Username is required</span>
           </div><hr>
		   <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            	<label for="password">Password</label>
				<input type="password" name="password" placeholder="password" class="form-control" ng-model="$ctrl.password" required>
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
           </div><hr>
		   <div class="form-actions">
				<button type="submit" name="Create" value="Create" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Create Project</button>
				<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		   </div><hr>
		</form>
</div>