<style>
	.project {
		border: 1px solid cadetblue;
	}
	.jumbo {
		background: url(/projects/intro-bg.jpg) no-repeat;
		padding-bottom: 100%;
		
	}
	.SearchBar {
		position: relative;
		width: 500px;	
	}
	.search{
		padding-left: 30%;
		padding-top: 40%;
	}
	.search1{
		padding-top: 1%;
		padding-left: 30%;
	}
	.jumbo-some {
		padding-top: 2%;
	}
	#projects-box {
		float: left;

		display: flex;
		flex-direction: column;
	}
</style>

<div class = "jumbo" >
	<div class="jumbo-some">
		<form name="project-search" ng-submit="$ctrl.searchProjects()">
			<section class="search">
			<input type="text" name="nameQuery" class="form-control SearchBar" placeholder="Search for..." ng-model="$ctrl.name">
			</section>
			<span class="input-group-btn">
			<section class="search1">	
			<input class="btn btn-defaul SearchButton" type="submit">
				<span class="glyphicon glyphicon-search SearchIcon"></span>
			</input>
			</section>
			</span>
		</form>

		<section id="projects-box">
			<section class="project" ng-repeat="project in $ctrl.projects">
				<a ui-sref="project({projectName: project.name})">
					<section>
						<h3>{{project.name}}</h3>
						<h4>{{project.description}}</h4>
					</section>
				</a>
		</section>
	</div>

		<form name ="project-create" ng-submit="$ctrl.addProject(projectName, description, visible, ownerName, password)">
			<input type="text" name="projectName" placeholder="Project Name" ng-model="$ctrl.projectName">
			<input type="text" name="description" placeholder="Project Description" ng-model="$ctrl.description">
			<input type="checkbox" name="visible" placeholder="visible" ng-model="$ctrl.visible">
			<input type="text" name="ownerName" placeholder="username" ng-model="$ctrl.handle">
			<input type="password" name="password" placeholder="password" ng-model="$ctrl.password">
			<input type="submit" name="Create" value="Create">
		</form>

</div>
