body {
	margin: 0px;
	padding: 0px;
	background: #7fccf6;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

#mywrapper {
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
}

#mycreate {
	position: relative;
}

#mycreate .myheader {
	overflow: hidden;
	text-align: right;
}

#mycreate .myheader .logo {
	float: left;
	color: #d0d502;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 3px 3px 2px white, 5px 3px 2px #000;
}

#mycreate .mycontent {
	width: 350px;
	margin: 0 auto;
	margin-top: 30px;
}

#mycreate .mycontent input {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #7fccf6;
	outline: none;
}

#mycreate .mycontent textarea {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #7fccf6;
	outline: none;
}

#mycreate .mycontent select {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #7fccf6;
	outline: none;
	color: gray;
}

#mycreate .mycontent .item.center {
	text-align: center;
}

#mycreate .mycontent button {
	border-radius: 16px;
	background: #9dca6d;
	color: white;
	outline: none;
	border: none;
	margin-top: 30px;
	cursor: pointer;
	padding: 10px 20px;
}

#mycreate .mycontent input.first {
	width: 49%;
	float: left;
}

#mycreate .mycontent input.last {
	width: 49%;
	float: right;
}

#mycreate .mycontent .item {
	margin-bottom: 15px;
}

#mycreate .mycontent .item .stitle {
	font-size: 20px;
}