<login></login>

<section ng-if="$ctrl.auth()">
	<h1>{{$ctrl.project().name}}</h1>
	<h2>{{$ctrl.project().description}}</h2>

	<nav class="btn-group">
		<label class="btn btn-primary" ng-model="$ctrl.nav" uib-btn-radio="'Team'" ui-sref="project.users">Team</label>
		<label class="btn btn-primary" ng-model="$ctrl.nav" uib-btn-radio="'Meetings'" ui-sref="project.meetings">Meetings</label>
		<label class="btn btn-primary" ng-model="$ctrl.nav" uib-btn-radio="'Stories'" ui-sref="project.stories">Stories</label>
	</nav>
	<ui-view></ui-view>
</section>