<!DOCTYPE html>
<html>

<head>
	<title>ScrumPLE Project</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--CDN libs-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
	<!--App-->
	<script src="project.app.js"></script>
	<!--Services-->
	<script src="rest.service.js"></script>
	<!--Components-->
	<script src="login/login.component.js"></script>
</head>

<body ng-app="project" ng-controller="project">
	<login ng-if="!loggedIn" project-id="projectId" log-in-success="logInSuccess()"></login>

	<h2 ng-if="loggedIn">Logged in to project: {{projectId}}</h2>	<!--Placeholder-->
</body>

</html>
