<style>
	form input {
		display: block;
	}

	#logout {
		position: absolute;
		top: 1em;
		right: 1em
	}

	.error {
		color: red;
	}
</style>

<form name="login" ng-submit="$ctrl.login()" ng-if="!$ctrl.auth.loggedIn">
	<fieldset>
		<legend>Login</legend>

		<input type="text" name="handle" placeholder="Email" autofocus ng-model="$ctrl.handle" required>
		<input type="password" name="password" placeholder="Password" ng-model="$ctrl.password" required>

		<input type="submit" value="Log In">

		<p class="error" ng-if="$ctrl.auth.failed">Incorrect email or password</p>
	</fieldset>
</form>

<input id="logout" type="button" value="Log Out" ng-click="$ctrl.logout()" ng-if="$ctrl.auth.loggedIn">
