@charset "UTF-8";

header {
	text-align: center;
}

.title {
	margin: 0px;
	border-radius: 32px;
	padding: 2px;
}

.clickable {
	cursor: pointer;
}
.selected {
	background-color: darkslategray !important;
	background-image: linear-gradient(to right, lightslategray, darkslategray);
}

.round {
	border-radius: 32px;
	padding: 10px;
}
.roundLeft {
	border-radius: 8px 32px 32px 8px;
	padding: 10px;
	float: left;
	clear: both;
}
.roundRight {
	border-radius: 32px 8px 8px 32px;
	padding: 10px;
	float: right;
	clear: both;
}

.entryBox {
	float: left;

	box-shadow: 4px 4px 3px gray;
}
.projectsBox {
	clear: both;

	background-color: cyan;
	background-image: linear-gradient(to bottom right, lightblue, cyan);
}
.usersBox {
	background-color: orange;
	background-image: linear-gradient(to bottom right, orange, orangered);
}
.meetingsBox {
	background-color: pink;
	background-image: linear-gradient(to bottom right, pink, palevioletred);
}

.entry {
	margin: 5px 0px 5px 5px;

	background-color: lime;
	background-image: linear-gradient(to bottom right, lime, lightseagreen);

	box-shadow: 3px 3px 2px gray;
}

#debugReset {
	float: left;
}

#login {
	background-color: darkseagreen;
	background-image: linear-gradient(to bottom right, darkseagreen, lightseagreen);

	box-shadow: 3px 3px 2px gray;
}

#rawSection {
	position: fixed;
	top: 0;
	right: 0;

	box-shadow: 3px 3px 2px gray;
	background-color: silver;
}
