a {
	cursor: pointer;
}

ul.nav-tabs li {
	font-size: larger;
}

projects {
	display: table;

	max-width: 100%;
	height: auto;

	margin: auto;
	padding: 1em 2em 2em;

	text-align: center;

	border: 1px solid #73AD21;
	border-radius: 4px;

	background-color: rgba(200, 200, 200, .6);
}

projects img {
	display: block;
	margin: auto auto 5%;

	max-width: 100%;
	height: auto;
}

projects form {
	margin: auto;

	max-width: 32em;
}

.modal-content {
	padding: 0 1em 1em;
}
.modal-content h1:first-of-type {
	text-align: center;
	margin-bottom: .6em;
}
.modal-content .btn-danger {
	float: right;
}

.nav-box {
	display: table;

	max-width: 100%;
	min-width: 70%;
	height: auto;

	margin: auto;
}

.viewport {
	display: block;
	padding: 1em;
	background-color: rgba(232, 232, 232, 0.26);
	border: 2px solid #d3d3d3;
	border-radius: 5px;	
}
.viewport h1:first-of-type {
	margin: -.4em -.4em .5em;
	padding: 8px;

	background-color: #d3d3d3;
	border-radius: 5px px 0 0;

	text-align: center;
	font-variant: small-caps;
	font-weight: 600;
}

.splash-screen {
	background: grey url("_core/scrumduck.jpg") no-repeat fixed;
	background-size: cover;	
}

.list {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.wide-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.logo {
	cursor: pointer;
}

.glyphicon-pencil {
	float: right;

	margin: 0 0 1em;

	cursor: pointer;
}
.glyphicon-plus {
	margin: 0 0 1em;

	border-radius: 16px;

	cursor: pointer;
}

.accordion-editable {
	position: relative;
}
.accordion-edit {
		position: absolute;
		right: 0;
		bottom: 0;
	}
