nav {
	margin: 0 0 1em;
	padding: .5em .5em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	
	background-color: #fafafa;
	border-bottom: 2px solid #e6e6e6;
}

body {
	/*font-family: "Alfa Slab One";*/
	/*font-family: "Archivo Black";*/
	/*font-family: "Armata";*/
	/*font-family: "Audiowide";*/
	/*font-family: "Bangers";*/
	font-family: "Boogaloo"; font-size: 22px;
}
h4 {
	font-size: 24px;
}
.btn:not(.glyphicon) {
	font-size: 20px;
}
.form-control, ul.dropdown-menu li {
	font-size: 18px;
}

a {
	cursor: pointer;
}

.nav-tabs {
	border: none;
}

.modal-content {
	padding: 0 1em 1em;
}
.modal-content h1:first-of-type {
	text-align: center;
	margin-bottom: .6em;
}
.modal-content .btn-danger {
	float: right;
}

.nav-box {
	display: table;

	max-width: 100%;
	min-width: 70%;
	height: auto;

	margin: auto;
}

.viewport {
	display: block;
	padding: 12px;
	border: 2px solid #d3d3d3;
	border-radius: 5px;	
}
.viewport h1:first-of-type {
	margin: -13px -13px .5em;
	padding: 8px;

	background-color: #e6e6e6;
	border-radius: 5px 5px 0 0;

	text-align: center;
	font-variant: small-caps;
}

.splash-screen {
	background: grey url("_core/scrumduck.jpg") no-repeat fixed;
	background-size: cover;	
}

.glyphicon-pencil {
	float: right;
	margin: 0 0 1em;

	z-index: 1;

	cursor: pointer;
}
.glyphicon-plus {
	margin: 0 0 1em;

	border-radius: 16px;

	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.error {
	color: red;
}

login form {
	min-width: 50%; 
	display:table; 
	margin: auto;
}
login h1 {
	padding: .4em 0;
	border-top: 1px solid lightgrey; 
	border-bottom: 1px solid lightgrey;

	text-align: center;
}

projects {
	display: table;

	max-width: 100%;
	height: auto;

	margin: auto;
	padding: 1em 2em 2em;

	text-align: center;

	border: 1px solid #73AD21;
	border-radius: 4px;

	background-color: rgba(200, 200, 200, .6);
}
projects img {
	display: block;
	margin: auto auto 5%;

	max-width: 100%;
	height: auto;
}
projects form {
	margin: auto;

	max-width: 32em;
}

project h4 {
	text-align: center;
}
