<style>
	.clickable {
		cursor: pointer;
	}
	
	.chat {
		float: right;
		clear: both;
	}
</style>

<h1>Team</h1>

<h3 ng-if="$ctrl.users.length <= 0">Looks like you have no teammates (and/or friends)!
	<a class="clickable" ng-click="$ctrl.add()">You should fix that!</a>
</h3>

<section ng-if="$ctrl.users.length > 0" class="wide-list">
	<section ng-repeat="user in $ctrl.users">
		<h3>{{user.displayName}}</h3>
		<h5>{{user.role}}</h5>
	</section>
</section>
<input class="btn btn-primary" type="button" value="Invite Teammate" ng-click="$ctrl.add()">

<section class="form-group">
	<input class="chat btn" ng-class="{'btn-success': !$ctrl.chat, 'btn-danger': $ctrl.chat}" type="button" value="{{$ctrl.chat ? 'Close Chat' : 'Open Chat'}}"
	 ng-click="$ctrl.chat = !$ctrl.chat">
	<form class="chat" ng-submit="$ctrl.send()" ng-if="$ctrl.chat">
		<textarea class="form-control" disabled>{{$ctrl.messageLog()}}</textarea>

		<section class="form-inline">
			<textarea class="form-control" ng-model="$ctrl.message" required></textarea>
			<input class="btn btn-success" type="submit" value="Send">
		</section>
	</form>
</section>