<style>
	.user {
		border: 1px solid gray;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.current-user {
		color: rebeccapurple;
		border-color: rebeccapurple;

		cursor: pointer;
	}

	.member-box {
		float: left;
		clear: both;
		
		display: flex;
		flex-direction: column;
	}
</style>

<h1>Team</h1>
<section class="member-box">
	<section class="user" ng-class="{'current-user': user.current}" ng-repeat="user in $ctrl.users" ng-click="user.current ? user.editting = true : null">
		<span ng-if="!user.editting">{{user.displayName}}</span>
		<input name="displayName" ng-model="user.displayName" ng-if="user.editting">

		<span ng-if="!user.editting">{{user.role}}</span>
		<input name="role" ng-model="user.role" ng-if="user.editting">

		<input type="button" value="Apply" ng-if="user.editting" ng-click="user.editting = false; $event.stopPropagation()">
	</section>
</section>
