<style>
	.btn-danger {
		float: right;
	}
</style>

<h1>{{$ctrl.title}}</h1>

<form ng-submit="$ctrl.ok()">
	<!-- Select appropriate input type -->
	<input ng-if="['text', 'password', 'email'].indexOf(type[0]) >= 0" class="form-control" type="{{type[0]}}" placeholder="{{type[1]}}" uib-tooltip="{{type[1]}}" ng-model="$ctrl.data[property]" required ng-repeat-start="(property, type) in $ctrl.fields">
	<textarea ng-if="type[0] === 'textarea'" class="form-control" placeholder="{{type[1]}}" uib-tooltip="{{type[1]}}" ng-model="$ctrl.data[property]" required></textarea>
	<input ng-if="type[0] === 'checkbox'" class="btn btn-primary" type="button" value="{{type[1]}}" uib-btn-checkbox ng-model="$ctrl.data[property]" required>
	<input ng-if="type[0] === 'number'" class="form-control" type="number" placeholder="{{type[1]}}" uib-tooltip="{{type[1]}}" ng-model="$ctrl.data[property]" required>
	<input ng-if="type[0] === 'date'" class="form-control" type="text" placeholder="{{type[1]}}" uib-tooltip="{{type[1]}}" datetime-picker is-open="$ctrl.editting[property]" ng-click="$ctrl.editting[property] = true" ng-model="$ctrl.data[property]" required ng-repeat-end>

	<input class="btn btn-success" type="submit" value="Apply">
	<input class="btn btn-primary" type="button" value="Cancel" ng-click="$ctrl.dismiss()">
	<input class="btn btn-danger" type="button" value="Delete" ng-click="$ctrl.delete()" ng-if="$ctrl.edit">
</form>